<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title></title>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <style>
        /*메인*/
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .title {
            width: 100%;
            height: 250px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTdfMTAx%2FMDAxNjU4MDYwMTA3NDcw.qGAsWERrjfXUe-E2QfBBeUBecs0v4-pObX9Sh_09HTkg.rwbgCntnb6UIOSJOb6oG9h03SRZQdOf0mD-d6qybB9wg.PNG.soomskin%2F20220114_231213.png&type=sc960_832');
            background-position: center;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .title > button {
            width: 200px;
            height: 50px;

            background-color: transparent;
            color: white;

            border-radius: 50px;
            border: 1px solid white;

            margin-top: 10px;
        }

        .title > button:hover {
            border: 2px solid white;
        }

        .comment {
            color: gray;
        }

        .cards {
            margin: 20px auto 0px auto;
            width: 95%;
            max-width: 1200px;
        }

        /*로그인*/
        .login {
            color: black;
        }

        .login_title_t {
            font-weight: bold;
            font-size: 22px;
            display: inline-block;
            padding-top: 5px;
        }

        .login_title_a {
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .login_title_a > a {
            font-weight: bold;
        }

        .login_btn {
            margin-top: 10px;
        }

        .login_btn > button {
            width: 170px;
            height: 25px;
            background-color: transparent;
            border-radius: 3px;
            border: 1px solid;
        }

        .signup {
            width: 170px;
            height: 25px;
            background-color: transparent;
            border-radius: 3px;
            border: 1px solid;
        }

        .signup:hover {
            border: 2px solid;
        }

        .login_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        /*상세 페이지*/
        .detail {
            height: 200px;

            margin-bottom: 20px;
            /*border: 2px solid black*/
        }

        .comment {
            display: flex;
            flex-direction: row;

            margin-bottom: 20px;
        }
        .login-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .login-a {
            color: black;
            font-weight: bold;
            margin-top: 20px;
        }
    </style>

    <script>
        function show_login() {
            $('#login').show()
        }
    </script>
</head>
<body>
<div>
    <div class="title">
        <div class="login">
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
                 tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">로그인 후 맛집 추천을 해보세요!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="login-box">
                                <label for="floatingInput" style="color: gray;">ID</label>
                                <p><input type="text" id="floatingInput"/></p>
                                <label for="floatingPassword" style="color: gray;">Password</label>
                                <p><input type="text" id="floatingPassword"/></p>
                                <div class="login-a"><a>아직 회원이 아니라면?</a></div>
                            </div>
                            <div>
                            <button>로그인</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                    data-bs-dismiss="modal">회원가입
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                 aria-labelledby="exampleModalToggleLabel2"
                 tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            회원가입 창
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                                    data-bs-dismiss="modal">다시 로그인하기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">로그인/회원가입</a>
        </div>
        <h1>맛집 가이드 (가제) </h1>
        <button onclick="open_box()">맛집 추천하기</button>
    </div>
    <div class="category">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">category</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">족발.보쌈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">찜.탕.찌개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">돈까스.회.일식</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">피자</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">치킨</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">야식</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">양식</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">아시안</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">백반.죽.국수</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">도시락</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">분식</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">카페.디저트</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">패스트푸드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">고기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">중식</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
        여기에 다른 문구 넣을 수 있어요
      </span>
                </div>
            </div>
        </nav>
    </div>
    <div class="cards">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
            <div class="col">
                <div class="card h-100">
                    <img src=https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTBfMjY2%2FMDAxNjU3NDE1NzM5MDA1.QEY-wQMvEntxOLNxsGu6gwP-DT4mEh8XOQkYFnGCZ38g.K43AWi9kCsscBxK9995ZdVHyezDVM_cR5Ygqkuonetog.JPEG.hrin426%2FIMG_4967.jpg&type=sc960_832
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">토방골</h5>
                        <p class="card-text">서울특별시 구로구 공원로6나길 49-3</p>
                        <sapn>⭐</sapn>
                        <span class="comment">reviews 12</span>

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            상세 페이지
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">상세 소개</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="detail">
                                            img - 크롤링
                                        </div>

                                        <div class="detail">
                                            explanation - 크롤링
                                        </div>

                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="inputGroupSelect01">별점</label>
                                            <select class="form-select" id="inputGroupSelect01">
                                                <option selected>Choose...</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                                <option value="4">Four</option>
                                                <option value="5">Five</option>
                                            </select>
                                        </div>

                                        <div class="form-floating comment">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                              style="height: 100px"></textarea>
                                            <label for="floatingTextarea2">Comments</label>
                                            <button type="submit" class="btn btn-primary">Submit</button>

                                        </div>

                                        <div class="detail">
                                            댓글 목록 - db추출
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">등록 취소</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src=https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTBfMjY2%2FMDAxNjU3NDE1NzM5MDA1.QEY-wQMvEntxOLNxsGu6gwP-DT4mEh8XOQkYFnGCZ38g.K43AWi9kCsscBxK9995ZdVHyezDVM_cR5Ygqkuonetog.JPEG.hrin426%2FIMG_4967.jpg&type=sc960_832
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">토방골</h5>
                        <p class="card-text">서울특별시 구로구 공원로6나길 49-3</p>
                        <sapn>⭐</sapn>
                        <span class="comment">reviews 12</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src=https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTBfMjY2%2FMDAxNjU3NDE1NzM5MDA1.QEY-wQMvEntxOLNxsGu6gwP-DT4mEh8XOQkYFnGCZ38g.K43AWi9kCsscBxK9995ZdVHyezDVM_cR5Ygqkuonetog.JPEG.hrin426%2FIMG_4967.jpg&type=sc960_832
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">토방골</h5>
                        <p class="card-text">서울특별시 구로구 공원로6나길 49-3</p>
                        <sapn>⭐</sapn>
                        <span class="comment">reviews 12</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src=https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTBfMjY2%2FMDAxNjU3NDE1NzM5MDA1.QEY-wQMvEntxOLNxsGu6gwP-DT4mEh8XOQkYFnGCZ38g.K43AWi9kCsscBxK9995ZdVHyezDVM_cR5Ygqkuonetog.JPEG.hrin426%2FIMG_4967.jpg&type=sc960_832
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">토방골</h5>
                        <p class="card-text">서울특별시 구로구 공원로6나길 49-3</p>
                        <sapn>⭐</sapn>
                        <span class="comment">reviews 12</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src=https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTBfMjY2%2FMDAxNjU3NDE1NzM5MDA1.QEY-wQMvEntxOLNxsGu6gwP-DT4mEh8XOQkYFnGCZ38g.K43AWi9kCsscBxK9995ZdVHyezDVM_cR5Ygqkuonetog.JPEG.hrin426%2FIMG_4967.jpg&type=sc960_832
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">토방골</h5>
                        <p class="card-text">서울특별시 구로구 공원로6나길 49-3</p>
                        <sapn>⭐</sapn>
                        <span class="comment">reviews 12</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src=https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTBfMjY2%2FMDAxNjU3NDE1NzM5MDA1.QEY-wQMvEntxOLNxsGu6gwP-DT4mEh8XOQkYFnGCZ38g.K43AWi9kCsscBxK9995ZdVHyezDVM_cR5Ygqkuonetog.JPEG.hrin426%2FIMG_4967.jpg&type=sc960_832
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">토방골</h5>
                        <p class="card-text">서울특별시 구로구 공원로6나길 49-3</p>
                        <sapn>⭐</sapn>
                        <span class="comment">reviews 12</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src=https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTBfMjY2%2FMDAxNjU3NDE1NzM5MDA1.QEY-wQMvEntxOLNxsGu6gwP-DT4mEh8XOQkYFnGCZ38g.K43AWi9kCsscBxK9995ZdVHyezDVM_cR5Ygqkuonetog.JPEG.hrin426%2FIMG_4967.jpg&type=sc960_832
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">토방골</h5>
                        <p class="card-text">서울특별시 구로구 공원로6나길 49-3</p>
                        <sapn>⭐</sapn>
                        <span class="comment">reviews 12</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src=https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTBfMjY2%2FMDAxNjU3NDE1NzM5MDA1.QEY-wQMvEntxOLNxsGu6gwP-DT4mEh8XOQkYFnGCZ38g.K43AWi9kCsscBxK9995ZdVHyezDVM_cR5Ygqkuonetog.JPEG.hrin426%2FIMG_4967.jpg&type=sc960_832
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">토방골</h5>
                        <p class="card-text">서울특별시 구로구 공원로6나길 49-3</p>
                        <sapn>⭐</sapn>
                        <span class="comment">reviews 12</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src=https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTBfMjY2%2FMDAxNjU3NDE1NzM5MDA1.QEY-wQMvEntxOLNxsGu6gwP-DT4mEh8XOQkYFnGCZ38g.K43AWi9kCsscBxK9995ZdVHyezDVM_cR5Ygqkuonetog.JPEG.hrin426%2FIMG_4967.jpg&type=sc960_832
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">토방골</h5>
                        <p class="card-text">서울특별시 구로구 공원로6나길 49-3</p>
                        <sapn>⭐</sapn>
                        <span class="comment">reviews 12</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
